@import url("./font-setup.css");

:root {
    --light-gray : #757575;
    --layout-color : #F2F4F6;
    --text-color : #48506D;
    --shadow-color : #DEDEDE;
    --light-blue-color : #2A81A7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    font-size: 14px;
    background-color: var(--layout-color);
    color: var(--text-color);
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: #9a9e9f;
    border-radius: 20px;
}
h1 {
    font-size: 28px;
    font-weight: 700;
}
h2 {
    font-size: 25px;
    font-weight: 600;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
h4 {
    font-size: 18px;
    font-weight: 500;
}
h5 {
    font-size: 18px;
    font-weight: 400;
}
h6 {
    font-size: 16px;
    font-weight: 400;
}
.mt-7 {
    margin-top: 40px;
}
.mt-6 {
    margin-top: 30px;
}
.mt-5 {
    margin-top: 25px;
}
.mt-4 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 15px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-1 {
    margin-top: 5px;
}
.px-20px {
    padding: 0 20px;
}
.w-full {
    width: 100%;
}
.app-conatiner {
    display: flex;
    flex-direction: row;
    padding: 15px 100px;
    gap: 20px;
}
.app-template {
    box-shadow: 5px 5px 40px var(--shadow-color);
    background-color: #FFF;
    padding: 20px;
}
.app-conatiner .left-layout {
    flex: .3;
    /* height: calc(100vh - 15px);
    overflow-y: auto; */
}

.app-conatiner .left-layout .content {
    box-shadow: 5px 0 40px var(--shadow-color);
    background-color: #FFF;
}
.app-conatiner .right-layout {
    flex: .7;
}
.profile-avartar {
    position: relative;
    width: 100%;
}
.profile-avartar img {
    width: 100%;
}
.profile-avartar span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFF;
    /* font-weight: 600; */
    letter-spacing: 1px;
    font-size: 20px;
    letter-spacing: 1px;
}
.basic-info ul {
    list-style: none;
}
.basic-info ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    height: 40px;
    font-weight: 400;
}
.basic-info ul li img.list-icon{
    width: 20px;
    filter: invert(31%) sepia(34%) saturate(411%) hue-rotate(189deg) brightness(91%) contrast(94%);
}
.objective-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--light-blue-color);
}
.objective-wrapper img {
    width: 20px;
    filter: invert(43%) sepia(14%) saturate(2168%) hue-rotate(153deg) brightness(98%) contrast(87%);
}
.right-layout .work-experience-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-layout .work-experience-title h5 {
    color: var(--light-gray);
    font-size: 25px;
}
.right-layout .work-experience-title img {
    width: 40px;
    filter: invert(43%) sepia(14%) saturate(2168%) hue-rotate(153deg) brightness(98%) contrast(87%);
}
.right-layout .right-layout-content {
    padding: 0 15px;
    margin-top: 40px;
}
.right-layout .right-layout-content .career-title {
    opacity: .8;
}
.date-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--light-blue-color);
}
.date-wrapper img {
    width: 20px;
    filter: invert(43%) sepia(14%) saturate(2168%) hue-rotate(153deg) brightness(98%) contrast(87%);
}
.date-wrapper .date-to-current {
    background-color: var(--light-blue-color);
    color: #FFF;
    padding: 4px 10px;
    border-radius: 5px;
}

.pregress-bar {
    border-radius: 20px;
    background-color: #f1f1f1;
}
.pregress-bar.meduim {
    height: 18px;
}
.pregress-bar.meduim .progress-bar-complete{
    font-size: 10px;
}
.pregress-bar.large {
    height: 22px;
}
.pregress-bar.large .progress-bar-complete{
    font-size: 12px;
}
.pregress-bar .progress-bar-complete {
    background-color: var(--light-blue-color);
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.service-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.service-info ol {
    list-style-type: disc;
}
.service-info ol li {
    margin-top: 10px;
    line-height: 1.5;
}
.project-card {
    width: 200px;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 5px 40px var(--shadow-color); */
    border: 1px solid rgb(139, 186, 217);
}
.project-card:hover .project-image img {
    transform: scale(1.1);
}
.project-card p {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.project-card .project-image {
    display: flex;
    justify-content: center;
}
.project-card .project-image img {
    width: 80px;
    transition: transform .3s linear;
}
.project-card a {
    color: var(--light-blue-color);
}
.app-footer {
    min-height: 100px;
    background-color: #FFF;
    box-shadow: -5px 0 40px var(--shadow-color);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
.app-footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.app-footer .footer-content p.author {
    font-size: 12px;
    opacity: .8;
}
/* .app-footer .footer-content .contact-title {
} */
.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-media .social-media-item {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    
}

.social-media .social-media-item img {
    width: 100%;
    filter: invert(42%) sepia(11%) saturate(2422%) hue-rotate(153deg) brightness(103%) contrast(99%);
}
/* .social-media .social-media-item.facebook img {
    filter: invert(34%) sepia(56%) saturate(3243%) hue-rotate(202deg) brightness(98%) contrast(93%);
}
.social-media .social-media-item.telegram img {
    filter: invert(34%) sepia(56%) saturate(3243%) hue-rotate(202deg) brightness(98%) contrast(93%);
} */
@media screen and (max-width: 1000px) {
    .app-conatiner {
        flex-direction: column;
        padding: 15px;
    }
}
@media screen and (max-width: 800px) {
    .service-info {
        flex-direction: column;
    }
    .app-conatiner {
        flex-direction: column;
        padding: 5px;
    }
    .app-footer {
        margin-top: 30px;
    }
}